$coffe-main: hsl(5, 10%, 50%);
$coffe-main-60: hsl(5, 10%, 60%);
$coffe-main-70: hsl(5, 10%, 70%);

$white-coffe: hsl(45, 55%, 96%);
$white-coffe-85: hsl(45, 55%, 85%);

$yellow-main-40:hsl(55, 100%, 40%);
$yellow-main:#ffed29;
$yellow-main-70:hsl(55, 100%, 70%);
$yellow-main-80:hsl(55, 100%, 80%);

$blue-main-20: hsl(202, 100%, 20%);
$blue-main: hsl(202, 100%, 37%);
$blue-main-50: hsl(202, 100%, 50%);
$blue-main-60: hsl(202, 100%, 60%);

$red-main-30: hsl(24, 91%, 30%);
$red-main: hsl(24, 91%, 47%);
$red-main-60: hsl(24, 91%, 60%);
$red-main-70: hsl(24, 91%, 70%);

$white-typo: hsl(0, 0%, 100%);

$black-30:hsl(0, 0%, 30%);
$black-20:hsl(0, 0%, 20%);
$black-0:hsl(0, 0%, 0%);

$IBM-italic: 'IBM Plex Mono', monospace, 'sans serif';
$IBM-Plex-Sans: 'IBM Plex Sans', 'sans-serif';