/*--------------
|    Body      |
---------------*/

body{
    background-color: $white-coffe;
}
p{
    font-family: $IBM-Plex-Sans;
}
h1, h2, h3, h4, h5, h6{
    font-family: $IBM-italic;
}


/*--------------
|    header     |
---------------*/

.header{
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding:0 1.5rem;
    background: $coffe-main;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 29px;
    box-shadow: 0px 5px 50px ;
}
.logo{
    height: 23rem;
        
    img{
        height: 23rem;
        width: 18rem;
        position: absolute;
    }
    a{
        padding: 8rem 11rem;
        position: absolute;
    }
}
.menu-check{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-check:checked ~ label .hamburguesa{
    display: none;
}
.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu{
    display: block;
    box-shadow: 0px 5px 20px $coffe-main;
    
}
.closed, .hamburguesa{
    box-shadow: none !important;
}
.closed,
.menu{
    display: none;
}
.hamburguesa, .closed{
    font-size: 20px
}
.menu{
    position: absolute;
    list-style-type: none;
    top: 150px;
    left: 0;
    background: $coffe-main;
    width: 100%;
    
    .blue:hover{
        border-bottom: $blue-main-50 .6rem solid;
        border-radius: 1rem;
        transition: .2s ease-in-out; 
        outline: 0;
    }
    .blue:active{
        border-bottom: $blue-main .8rem solid;
        transition: .2s ease-in-out;  
        outline: 0;
    }


    .red:hover{
        border-bottom: $red-main-60 .6rem solid;
        border-radius: 1rem;
        transition: .2s ease-in-out; 
        outline: 0;
    }
    .red:active{
        border-bottom: $red-main .8rem solid;
        transition: .2s ease-in-out; 
        outline: 0;
    }
   


    .yellow:hover{
        border-bottom: $yellow-main .6rem solid;
        border-radius: 1rem;
        transition: .2s ease-in-out; 
        outline: 0;
    }
    .yellow:active{
        border-bottom: $yellow-main-40 .8rem solid;
        transition: .2s ease-in-out; 
        outline: 0;
    }
  
}
.menu :is(a){
    display: flex;
    color: $white-typo;
    font-family: $IBM-italic;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 16px 0 24px 16px;
    
}






.title-sect{
    display: flex;
    justify-content: center;
}
.title{
    
    display: none;
    height: 15rem;
    width: 100%;
    min-width: 20rem;
    max-width: 50rem;
    border-radius: 6rem;
    margin: 0 1rem;
    // background-color: $red-main;
    // background-color: $blue-main;
    padding-top: 9rem;
    text-align: center;
    // color: #fff;
    font-size: 1.3rem;
    // background-color: $yellow-main;
}
