$blue-main: hsl(5, 10%, 50%);
$blue-main-hard: hsl(238, 95%, 53%); 
$orange-dust: hsl(15, 100%, 55%);
$orange-dust-shadow: hsl(15, 100%, 40%);
$orange-dust-shadow: hsl(20, 100%, 54%);
$orange-dust-hard: hsl(16, 98%, 44%);
$orange-dust-shadow-light: hsl(15, 100%, 45%);
$orange-dust-light: hsl(15, 100%, 50%);
$green-ball: hsl(125, 100%, 76%);
$green-ball-hard: hsl(125, 100%, 61%);
$green-shadow: hsl(117, 100%, 28%);
$white-typo: hsl(0, 0%, 100%);

$IBM-italic: 'IBM Plex Mono', monospace, 'sans serif';
$IBM-Plex-Sans: 'IBM Plex Sans', 'sans-serif';