/*--------------
|    header     |
---------------*/

//desktop
@media(min-width:900px)
{
    .container{

        .proyect-cards{
            margin: 4rem 1rem;
            
        }
    }
}
@media(min-width:1280px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
  
      
        top: 0;
        
    }
    .hamburguesa, .menu-check:checked{
        display: none;
    }

    .menu{
        display: inline-flex;
        position: relative;
        top: -5px;
        left: auto;
        background:transparent;
        width: 100%;
        
   
    a:active{
        
        border-bottom: $white-typo 6px solid;
        transition: .4s ease-in-out; 
        outline: 0;
        
    }
    }
    .menu :is(a){
        display: inline-block;        
        text-decoration: none;
        padding: 16px 20px;
    }
 


    .title{
        font-size: 1.7rem;
    }


    
    /*--------------
    |   Sections    |
    ---------------*/


    
    .container{

        .proyect-cards{
          
            margin: 2rem 4rem;
            padding: 1.5rem 3rem;

            .proyect-img{

                img{
                    width: 16rem;
                    height: 14rem;
                    margin: 1.5rem 0 1.5rem 0;
                    border-radius: 3rem;
                }
            }
        }
    }
}
