* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --boxColor: #E4D1A4;
  --rotateSpeed: 30s;
  --bounceSpeed: 2s;
}

.body {
  background-color: #faf8ef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  overflow: hidden;
  perspective: 10em;
  perspective-origin: 50% calc( 50% - 2em);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(90deg);
}

.ballShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0000 50%);
}

.cube {
  width: 2em;
  height: 2em;
  position: absolute;
  bottom: -1em;
  left: -1em;
}
.cube.front-monitor-left, .cube.front-monitor-right, .cube.front-monitor-up, .cube.front-monitor-down {
  width: 0.2em;
  height: 1.3em;
  bottom: -0.3em;
}
.cube.front-monitor-left .front {
  transform: translateZ(-0.7em);
}
.cube.front-monitor-left .right {
  transform: rotateY(90deg) translateZ(0.8em);
}
.cube.front-monitor-left .back {
  transform: rotateY(180deg) translateZ(0.9em);
}
.cube.front-monitor-left .left {
  transform: rotateY(270deg) translateX(-0.8em) translateZ(0.1em);
}
.cube.front-monitor-left .top {
  width: 0.2em;
  height: 0.2em;
  transform: translateZ(-0.8em) translateY(-50%) rotateX(90deg);
}
.cube.front-monitor-left .bottom {
  width: 0.4em;
  height: 1em;
}
.cube.front-monitor-right .front {
  transform: translateZ(0.7em);
}
.cube.front-monitor-right .right {
  transform: rotateY(90deg) translateZ(-0.8em);
}
.cube.front-monitor-right .back {
  transform: rotateY(180deg) translateZ(-0.9em);
}
.cube.front-monitor-right .left {
  transform: rotateY(270deg) translateX(0.8em) translateZ(0.1em);
}
.cube.front-monitor-right .top {
  width: 0.2em;
  height: 1.8em;
  transform: translateY(-50%) rotateX(90deg);
}
.cube.front-monitor-up .front {
  transform: translateZ(0.7em);
}
.cube.front-monitor-up .right {
  transform: rotateY(90deg) translateZ(-0.8em);
}
.cube.front-monitor-up .back {
  transform: rotateY(180deg) translateZ(-0.9em);
}
.cube.front-monitor-up .left {
  transform: rotateY(270deg) translateX(0em) translateZ(0.9em);
  height: 0.2em;
  width: 1.8em;
}
.cube.front-monitor-up .top {
  width: 0.2em;
  height: 0.2em;
  transform: translateZ(0.8em) translateY(-50%) rotateX(90deg);
}
.cube.front-monitor-down {
  bottom: -1.4em;
}
.cube.front-monitor-down .front {
  transform: translateZ(0.7em);
}
.cube.front-monitor-down .right {
  transform: rotateY(90deg) translateZ(-0.8em);
}
.cube.front-monitor-down .back {
  transform: rotateY(180deg) translateZ(-0.9em);
}
.cube.front-monitor-down .left {
  transform: rotateY(270deg) translateX(0em) translateZ(0.9em);
  height: 0.2em;
  width: 1.8em;
}
.cube.front-monitor-down .top {
  width: 0.2em;
  height: 1.8em;
  transform: translateZ(0em) translateY(-50%) rotateX(90deg);
}
.cube.monitor {
  left: -0.9em;
  width: 1.8em;
  height: 1.3em;
  bottom: -0.3em;
}
.cube.monitor .front {
  transform: translateZ(0.9em);
}
.cube.monitor .right {
  transform: rotateY(90deg) translateZ(0.9em);
}
.cube.monitor .back {
  transform: rotateY(180deg) translateZ(0.9em);
}
.cube.monitor .left {
  background: #A5B7C8;
  transform: rotateY(270deg) translateZ(0.9em);
}
.cube.monitor .top {
  width: 1.8em;
  height: 1.8em;
}
.cube.monitor .bottom {
  width: 1.8em;
  height: 1.8em;
}
.cube.monitor h1, .cube.monitor h2, .cube.monitor p {
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}
.cube.hardware {
  height: 0.7em;
}
.cube.hardware .front {
  width: 2.3em;
  transform: rotateY(180deg) translateZ(-1em) translateX(0.3em);
}
.cube.hardware .back {
  width: 2.3em;
  transform: rotateY(180deg) translateZ(1em) translateX(0.3em);
}
.cube.hardware .left {
  transform: rotateY(270deg) translateZ(1.3em);
}
.cube.hardware .top {
  width: 2.3em;
  height: 2em;
  background: var(--boxColor);
  transform: translateY(-50%) rotateX(90deg) translateX(-0.3em);
}
.cube .left, .cube .right, .cube .front, .cube .back {
  background: var(--boxColor);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.5em #000a inset;
}
.cube .front {
  transform: translateZ(1em);
}
.cube .right {
  transform: rotateY(90deg) translateZ(1em);
}
.cube .back {
  transform: rotateY(180deg) translateZ(1em);
}
.cube .left {
  transform: rotateY(270deg) translateZ(1em);
}
.cube .top {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--boxColor);
  transform: translateY(-50%) rotateX(90deg);
}
.cube .bottom {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #0007;
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
}

.floor {
  width: 5em;
  height: 5em;
  border-radius: 5em;
  background-image: radial-gradient(#484848, #faf8ef 75%), repeating-conic-gradient(from 45deg, #fff 0deg 90deg, #484848 90deg 180deg);
  background-size: 100%, 1em 1em;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1em;
}

.scene:hover {
  transform: rotateY(90deg);
  font-size: 250px;
  transition: 3s ease-in;
}
.scene:hover .cube.monitor {
  line-height: 0.5;
}
.scene:hover .cube.monitor h1 {
  font-size: 2rem;
  padding-top: 6rem;
  text-align: center;
}
.scene:hover .cube.monitor p {
  font-size: 1rem;
  text-align: center;
}

/*--------------
|    Body      |
---------------*/
body {
  background-color: #faf8ef;
}

p {
  font-family: "IBM Plex Sans", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", monospace, "sans serif";
}

/*--------------
|    header     |
---------------*/
.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1.5rem;
  background: #8c7573;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 29px;
  box-shadow: 0px 5px 50px;
}

.logo {
  height: 23rem;
}
.logo img {
  height: 23rem;
  width: 18rem;
  position: absolute;
}
.logo a {
  padding: 7rem 9rem;
  position: absolute;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
  box-shadow: 0px 5px 20px #8c7573;
}

.closed, .hamburguesa {
  box-shadow: none !important;
}

.closed,
.menu {
  display: none;
}

.hamburguesa, .closed {
  font-size: 20px;
}

.menu {
  position: absolute;
  list-style-type: none;
  top: 5rem;
  left: 0;
  background: #8c7573;
  width: 100%;
}
.menu .blue:hover {
  border-bottom: #00a2ff 0.6rem solid;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu .blue:active {
  border-bottom: #0078bd 0.8rem solid;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu .red:hover {
  border-bottom: #f6863c 0.6rem solid;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu .red:active {
  border-bottom: #e5620b 0.8rem solid;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu .yellow:hover {
  border-bottom: #ffed29 0.6rem solid;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
  outline: 0;
}
.menu .yellow:active {
  border-bottom: #ccbb00 0.8rem solid;
  transition: 0.2s ease-in-out;
  outline: 0;
}

.menu :is(a) {
  display: flex;
  color: white;
  font-family: "IBM Plex Mono", monospace, "sans serif";
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 16px 0 24px 16px;
}

/*--------------
|    Titles     |
---------------*/
.title-sect {
  display: flex;
  justify-content: center;
}

.title {
  display: none;
  height: 15rem;
  width: 100%;
  min-width: 20rem;
  max-width: 50rem;
  border-radius: 6rem;
  margin: 0 1rem 15rem 0;
  padding-top: 9rem;
  text-align: center;
  font-size: 1.3rem;
}

/*--------------
|   Sections    |
---------------*/
.web-sect.blue .container .proyect-cards, .game-sect.blue .container .proyect-cards, .design-sect.blue .container .proyect-cards {
  border: 0.5rem solid #0078bd;
  box-shadow: 18px 23px #004166;
}
.web-sect.blue .container .proyect-cards a:hover img, .game-sect.blue .container .proyect-cards a:hover img, .design-sect.blue .container .proyect-cards a:hover img {
  box-shadow: 1rem 1rem #0078bd;
}
.web-sect.blue .container .proyect-cards a:focus img, .game-sect.blue .container .proyect-cards a:focus img, .design-sect.blue .container .proyect-cards a:focus img {
  box-shadow: 1rem 1rem #0078bd;
}
.web-sect.yellow .container .proyect-cards, .game-sect.yellow .container .proyect-cards, .design-sect.yellow .container .proyect-cards {
  border: 0.5rem solid #ffed29;
  box-shadow: 18px 23px #ccbb00;
}
.web-sect.yellow .container .proyect-cards a:hover img, .game-sect.yellow .container .proyect-cards a:hover img, .design-sect.yellow .container .proyect-cards a:hover img {
  box-shadow: 1rem 1rem #ffed29;
}
.web-sect.yellow .container .proyect-cards a:focus img, .game-sect.yellow .container .proyect-cards a:focus img, .design-sect.yellow .container .proyect-cards a:focus img {
  box-shadow: 1rem 1rem #ffed29;
}
.web-sect.red .container .proyect-cards, .game-sect.red .container .proyect-cards, .design-sect.red .container .proyect-cards {
  border: 0.5rem solid #e5620b;
  box-shadow: 18px 23px #923f07;
}
.web-sect.red .container .proyect-cards a:hover img, .game-sect.red .container .proyect-cards a:hover img, .design-sect.red .container .proyect-cards a:hover img {
  box-shadow: 1rem 1rem #e5620b;
}
.web-sect.red .container .proyect-cards a:focus img, .game-sect.red .container .proyect-cards a:focus img, .design-sect.red .container .proyect-cards a:focus img {
  box-shadow: 1rem 1rem #e5620b;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container .proyect-cards {
  width: 100%;
  height: 34rem;
  min-width: 10rem;
  max-width: 25rem;
  border-radius: 10rem;
  margin: 4rem 0;
  padding: 1.8rem 2rem;
  border: 0.5rem solid;
  text-align: center;
  box-shadow: 18px 23px;
}
.container .proyect-cards .proyect-img {
  margin: 0 auto;
}
.container .proyect-cards .proyect-img img {
  width: 16rem;
  height: 14rem;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 3rem;
}
.container .proyect-cards .proyect-img a {
  padding: 15rem 0 0;
}
.container .proyect-cards .proyect-img a:hover img {
  transition: 1s;
}
.container .proyect-cards .proyect-img a:focus {
  border: none;
  outline: none;
}
.container .proyect-cards .proyect-img a:focus img {
  border: 0.5rem solid black;
}

/*--------------
|    header     |
---------------*/
@media (min-width: 900px) {
  .container .proyect-cards {
    margin: 4rem 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .menu {
    display: inline-flex;
    position: relative;
    top: -5px;
    left: auto;
    background: transparent;
    width: 100%;
  }
  .menu a:active {
    border-bottom: white 6px solid;
    transition: 0.4s ease-in-out;
    outline: 0;
  }

  .menu :is(a) {
    display: inline-block;
    text-decoration: none;
    padding: 16px 20px;
  }

  .title {
    font-size: 1.7rem;
  }

  /*--------------
  |  3d computer  |
  ---------------*/
  .scene {
    transform: rotateY(70deg);
  }

  /*--------------
  |   Sections    |
  ---------------*/
  .container .proyect-cards {
    margin: 2rem 4rem;
    padding: 1.5rem 3rem;
  }
  .container .proyect-cards .proyect-img img {
    width: 16rem;
    height: 14rem;
    border-radius: 3rem;
  }
}

/*# sourceMappingURL=index.css.map */
